.section {
  width: 100%;
  overflow: hidden;
  background: #000;
}

.title {
  text-align: center;
  margin-bottom: 24px;
  opacity: 0.7;
  font-weight: 500;
  color: #fff;
  font-size: 18px;
}

.logoLoopFix,
.logoLoopFix * {
  mask-image: none !important;
  -webkit-mask-image: none !important;
}

.logoLoopFix::before,
.logoLoopFix::after {
  display: none !important;
  content: none !important;
}
